<div class="column column-small">
    <a href="{info.link}" target="_blank">
        <div class="head">
            <p class="headline hl1">
                {info.title}
            </p>
            <p>
                <span class="headline hl6">von: {info.author}</span>
            </p>
        </div>
        <div class="body">
            <img src="{info.headlinePicture}"/>
            <span>
                Vom {info.timestamp}
            </span>
            - {info.textonlymessage}
            <div class="pictures">
                {#for picture in info.remainingPictureList}
                <img src="{picture}"/>
                {/for}
            </div>
        </div>
        <span class="category">{info.feed.category.name}</span>
        <img class="feedimg" src="{info.feed.picture}"/>
    </a>
</div>
