<div class="column column-small">
    <a href="{info.link}" target="_blank">
        <div class="head">
            <p class="headline hl1">
                {info.title}
            </p>
            <p>
                <span class="headline hl6">von: {info.author}</span>
            </p>
        </div>
        <div class="body">
            {info.textonlymessage}
            <br/><br/>
            {#for picture in info.pictureList}
            <img src="{picture}"/>
            {/for}
        </div>
        <div class="footer">
            — {info.feed.name} {info.timestamp} Uhr —
        </div>
        <span class="category">{info.feed.category.name}</span>
        <img class="feedimg" src="{info.feed.picture}"/>
    </a>
</div>
