<div class="column column-xlarge">
    <a href="{info.link}" target="_blank">
        <div class="head">
            <p class="headline hl1">
                {info.title}
            </p>
        </div>
        <div class="body">
            <img src="{info.headlinePicture}"/>
            <div class="timestamp">
                ({info.feed.name} · {info.shortFormattedTimestamp})
            </div>
            <div class="message">
                {info.textonlymessage}
            </div>
            <div class="pictures">
                {#for picture in info.remainingPictureList}
                <img src="{picture}"/>
                {/for}
            </div>
        </div>
        <span class="category">{info.feed.category.name}</span>
        <img class="feedimg" src="{info.feed.picture}"/>
    </a>
</div>
