<div class="column column-xlarge">
    <a href="{info.link}">
        <div class="body">
			<span class="left">
				<img src="{info.picture}">
			</span>
            <span class="right">
				<div class="body">
					<p class="headline hl1">{info.title}</p>
					<span class="headline hl6">von: {info.author}</span>
					{info.textonlymessage}
				</div>
				<div class="footer">
					— {info.feed.name} {info.timestamp} Uhr —
				</div>
			</span>
        </div>
        <span class="category">{info.feed.category.name}</span>
        <img class="feedimg" src="{info.feed.picture}"/>
    </a>
</div>
