<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Eilkurier 12.01.2022 Ausgabe 1</title>
    <meta content="width=device-width" name="viewport">
    <link href="/css/newspaper.css" rel="stylesheet"/>
</head>
<body>
<div class="head">
    <div class="headerobjectswrapper">
        <div class="weatherforcastbox">
            <span style="font-style: italic;">
                Wettervorhersage für die nächsten 24 Stunden:
                Viel Sonne
            </span><br>
            <span>Wind: 7km/h SSE; Temp: 21°C; Hum: 82%</span>
        </div>
        <header>
            <img src="/img/rider.png" width="90"/><span class="headline">Eilkurier</span>
            <div class="slogan">Nachrichten, wie Sie sein sollten</div>
        </header>
    </div>
    <div class="subhead">
        <span class="pull-left">Das Internet</span>
        <span>12.01.2022</span>
        <span class="pull-right">Seit 2018</span>
    </div>
    <div class="categories">
        {#for categoryName in categoryNames}<span>{categoryName}</span>{/for}
    </div>
</div>
<div class="content">
    <div class="columns">
        {#for info in information}
        {#include column/small.html}{/}
        {/for}
        <div class="column column-sizer"></div>
    </div>
</div>
<script src="https://unpkg.com/isotope-layout@3.0.6/dist/isotope.pkgd.js"></script>
<script src="/js/print.js"></script>
</body>
</html>